<%- include('partials/header'); -%>
<div class="container">
    <h1 style="text-align: center;">Edit Comment %> </h1>
    <!-- form data is included in the body of form and sent to action  -->
    <div style="width: 30%;margin:30px auto;">
        <form action="/campgrounds/<%= camp_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <!--for spacing-->
                <input type="text" name="comment[text]" value="<%= comment.text %> " class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn-large btn-dark btn-block">Submit!</button>
                <!--btn-block to make button acquire while length-->
            </div>

        </form>
        <a href="index">Go Back </a>
    </div>

</div>
<%- include('partials/footer'); -%>